*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#0f1020,#24144d,#4b1f72);
    color:white;
    min-height:100vh;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 10%;
    position:fixed;
    width:100%;
    top:0;
    background:rgba(0,0,0,.25);
    backdrop-filter:blur(15px);
}

.logo{
    font-size:2rem;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:.3s;
}

nav a:hover{
    color:#ff9df5;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:4rem;
    margin-bottom:20px;
    font-family:"Cormorant Garamond",serif;
}

.hero p{
    max-width:700px;
    font-size:1.2rem;
    opacity:.9;
}

.boton{
    display:inline-block;
    padding:15px 35px;
    border-radius:40px;
    background:#b14cff;
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:0.3s ease;
}

.boton:hover{
    transform:scale(1.08);
    background:#c86cff;
    box-shadow:0 0 25px rgba(177,76,255,.6);
}

section{
    padding:100px 10%;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:40px;
}

.card{
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(12px);
    border-radius:20px;
    padding:30px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

footer{
    text-align:center;
    padding:40px;
    background:#111;
}
/* ===== Formulario ===== */

form{
    max-width:600px;
    margin:40px auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

form label{
    color:white;
    font-weight:600;
    font-size:18px;
}

form input,
form textarea{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:white;
    font-size:16px;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
}

form input:focus,
form textarea:focus{
    outline:none;
    box-shadow:0 0 12px rgba(255,255,255,.4);
}

form button{
    margin-top:10px;
}
.logo{
    transition:0.4s;
}

.logo:hover{
    transform:rotate(-5deg) scale(1.05);
}
.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,.35);
}
nav a{
    transition:.3s;
}

nav a:hover{
    color:#d78cff;
}
